.button_type_like {
  box-sizing: border-box;
  width: 22px;
  height: 19px;
  background: url('../../../images/like.svg') no-repeat center;
  border: none;
}

.button_type_like:hover {
  opacity: .5;
}