.popup__submit {
  margin-top: 48px;
  width: 358px;
  height: 50px;
  background-color: #000;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.popup__submit:hover {
  opacity: .8;
}

@media screen and (max-width: 600px) {
  .popup__submit {
    width: 238px;
    height: 46px;
    margin-top: 45px;
  }
}